<%- include('../partials/header.ejs') %>
<div class="container mt-5" style="padding: 3%">
  <h2 class="text-center mb-5">Thống Kê Doanh Thu </h2>
  <div class="row mb-3">
    <div class="col-md-4">
      <label for="movie" class="form-label">Select Movie</label>
      <select class="form-select" id="movie" name="movie" required>
        <option value=""></option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="startDate" class="form-label">From Date</label>
      <input type="date" class="form-control" id="startDate" />
    </div>
    <div class="col-md-2">
      <label for="endDate" class="form-label">To Date</label>
      <input type="date" class="form-control" id="endDate" />
    </div>
    <div class="col-md-12 mt-3">
      <button type="button" class="btn btn-primary" onclick="fetchRevenueData()">
        Filter
      </button>
    </div>
  </div>
  <div class="row">
    <div id="revenueChart" style="width: 100%; height: 400px"></div>
  </div>
  <div class="mt-3">
    <h4>Tổng doanh thu : <span id="totalRevenueLabel"></span></h4>
  </div>

  <!-- Table for Movie Revenue -->
  
  <div class="row mt-5">
    <div class="col-md-6">
      <h3>Doanh thu theo phim</h3>
      <table  class="table table-bordered" id="movieTableBody">
        <thead>
          <tr>
            <th>Phim</th>
            <th>Tổng Tiền</th>
            <th>Số Vé</th>
          </tr>
        </thead>
        <tbody >
          
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h3>Doanh thu theo rạp</h3>
      <table class="table table-bordered" id="cinemaTableBody">
        <thead>
          <tr >
            <th>Rạp</th>
            <th>Tổng Tiền</th>
            <!-- <th>Số Vé</th>
            <th>Phim</th> -->
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.0/dist/echarts.min.js"></script>

<script>
  
let cinemaMap = {};

document.addEventListener('DOMContentLoaded', function() {

  fetch('/dashboard/totalMovie')
  .then(response => {
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    return response.json();
  })
  .then(data => {
    if (data.success) {
      const tableBody = document.getElementById('movieTableBody');
      data.getAll.forEach(movieData => {
        const row = document.createElement('tr');

        const cellName = document.createElement('td');
        cellName.textContent = movieData.movie.join(', '); 
        row.appendChild(cellName);

        const cellRevenue = document.createElement('td');
        cellRevenue.textContent = movieData.totalRevenue;
        
        row.appendChild(cellRevenue);

        const cellCount = document.createElement('td');
        cellCount.textContent = movieData.count;
        row.appendChild(cellCount);

        tableBody.appendChild(row);
      });
    } else {
      console.error('Error fetching movie data:', data.error);
    }
  })
  .catch(error => {
    console.error('Error fetching movie data:', error);
  });


  fetch('/dashboard/totaListCinema')
  .then(response => {
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    return response.json();
  })
  .then(data => {
    if (data.success) {
      const tableBody = document.getElementById('cinemaTableBody');
      data.getAll.forEach(cinemaData => {
        const row = document.createElement('tr');

        const cellName = document.createElement('td');
        cellName.textContent = cinemaData.cinema.join(', '); 
        row.appendChild(cellName);

        const cellRevenue = document.createElement('td');
        cellRevenue.textContent = cinemaData.totalRevenue;
        row.appendChild(cellRevenue);

       

        tableBody.appendChild(row);
      });
    } else {
      console.error('Error fetching movie data:', data.error);
    }
  })
  .catch(error => {
    console.error('Error fetching movie data:', error);
  });

  fetch('/discount/cinemaList')
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      if (data.success) {
        const cinemaSelect = document.getElementById('cinema'); 
        data.getAll.forEach(cinema => {
          const option = document.createElement('option');
          option.value = cinema._id;
          option.textContent = cinema.name;
          cinemaSelect.appendChild(option);

          cinemaMap[cinema._id] = cinema.name;
        });
      } else {
        console.error('Error fetching cinema data:', data.error);
      }
    })
    .catch(error => {
      console.error('Error fetching cinema data:', error);
    });

  fetch('/dashboard/movieList')
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      if (data.success) {
        const moviesSelect = document.getElementById('movie'); 
        data.getAll.forEach(movie => {
          const option = document.createElement('option');
          option.value = movie._id;
          option.textContent = movie.name;
          moviesSelect.appendChild(option);
        });
      } else {
        console.error('Error fetching movies data:', data.error);
      }
    })
    .catch(error => {
      console.error('Error fetching movies data:', error);
    });

  fetchRevenueData();
});

function formatDate(dateString) {
  const [day, month, year] = dateString.split('-');
  return `${year}-${month}-${day}`;
}

function fetchRevenueData() {
  const movieId = document.getElementById('movie').value;
  const startDate = formatDate(document.getElementById('startDate').value);
  const endDate = formatDate(document.getElementById('endDate').value);

  const url = new URL('/dashboard/totalCinema', window.location.origin);
  const params = {
    movieId: movieId,
    startDate: startDate,
    endDate: endDate
  };

  Object.keys(params).forEach(key => url.searchParams.append(key, params[key]));

  fetch(url)
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      if (data.success) {
        const revenueData = data.revenueData || [];
        const totalRevenue = revenueData.reduce((acc, item) => acc + item.totalRevenue, 0);

        const totalRevenueLabel = document.getElementById('totalRevenueLabel');
const formattedTotalRevenue = Number(totalRevenue).toLocaleString('en-US');
totalRevenueLabel.textContent = `${formattedTotalRevenue}$`;



        const chartDom = document.getElementById("revenueChart");
        const myChart = echarts.init(chartDom);

        const cinemaNames = revenueData.map(item => item.cinemaName);
        const seriesData = revenueData.length > 0
          ? revenueData.map(item => item.totalRevenue)
          : [0]; 

        const option = {
          title: {
            text: "Doanh thu",
          },
          tooltip: {
            trigger: "axis",
          },
          xAxis: {
            type: "category",
            data: cinemaNames,
          },
          yAxis: {
            type: "value",
          },
          series: [
            {
              data: seriesData,
              type: "bar",
              barWidth: '50',
            },
          ],
        };

        myChart.setOption(option);

      } else {
        console.error('Error fetching revenue data:', data.error);
        const totalRevenueLabel = document.getElementById('totalRevenueLabel');
        totalRevenueLabel.textContent = `0$`;

        const chartDom = document.getElementById("revenueChart");
        const myChart = echarts.init(chartDom);

        const option = {
          title: {
            text: "Doanh thu",
          },
          tooltip: {
            trigger: "axis",
          },
          xAxis: {
            type: "category",
            data: [], 
          },
          yAxis: {
            type: "value",
          },
          series: [
            {
              data: [], 
              type: "bar",
              barWidth: '50',
            },
          ],
        };

        myChart.setOption(option);

      }
    })
    .catch(error => {
      console.error('Error fetching revenue data:', error);

      const totalRevenueLabel = document.getElementById('totalRevenueLabel');
      totalRevenueLabel.textContent = `0$`;

      const chartDom = document.getElementById("revenueChart");
      const myChart = echarts.init(chartDom);

      const option = {
        title: {
          text: "Doanh thu",
        },
        tooltip: {
          trigger: "axis",
        },
        xAxis: {
          type: "category",
          data: [], 
        },
        yAxis: {
          type: "value",
        },
        series: [
          {
            data: [], 
            type: "bar",
            barWidth: '50',
          },
        ],
      };

      myChart.setOption(option);

    });
}


</script>
