<%- include('../../partials/header.ejs') %>
<style>
  .role-label {
    background-color: #ffcccc;
  }
  .status-label {
    background-color: #ccffcc;
  }
</style>
<div class="container mt-5 p-3">
  <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
    <a href="/employee/add" class="btn btn-primary">Tạo nhân viên</a>
    <h2 class="text-center flex-grow-1">Danh sách nhân viên</h2>
  </div>
  <table class="table table-bordered table-hover align-middle text-center">
    <thead class="thead-light">
      <tr class="table table-secondary">
        <th class="text-center">Avatar</th>
        <th class="text-center">Họ tên</th>
        <th class="text-center">Email</th>
        <th class="text-center">Số điện thoại</th>
        <th class="text-center">Quyền</th>
        <th class="text-center">Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img
            src="/images/avatar.jpg"
            alt="Avatar 1"
            class="rounded-circle"
            width="60"
            height="60"
          />
        </td>
        <td>
          <a class="nav-link text-primary" href="/employee/details/:id"
            >Nguyễn Hải Huy</a
          >
        </td>
        <td>ng.haihuy262@gmail.com</td>
        <td>0961336497</td>
        <td class="text-center">
          <span
            class="role-label rounded-pill text-danger border border-danger ps-3 pe-3 pt-1 pb-1"
            >Staff</span
          >
        </td>
        <td class="text-center">
          <span
            class="status-label border border-success rounded-pill text-success ps-3 pe-3 pt-1 pb-1"
            >Active</span
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
