<%- include('../partials/header.ejs') %>

<div class="container mt-5" style="padding: 3%">
  <h2 class="text-center mb-5">Add New Discount</h2>
  <form action="/discount/create" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" required />
    </div>
    <div class="mb-3">
      <label for="percent" class="form-label">Percent</label>
      <input
        type="text"
        class="form-control"
        id="percent"
        name="percent"
        required
      />
    </div>
    <div class="mb-3">
      <label for="code" class="form-label">Code</label>
      <input type="text" class="form-control" id="code" name="code" required />
    </div>
    <div class="mb-3">
      <label for="type" class="form-label">Type</label>
      <input type="text" class="form-control" id="type" name="type" required />
    </div>
    <div class="mb-3">
      <label for="cinema" class="form-label">Cinema</label>
      <select class="form-select" id="cinema" name="cinema">
        <option>Mỹ Đình</option>
        <option>Mỹ Đình 2</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input
        type="file"
        class="form-control"
        id="image"
        name="image"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
