<%- include('../partials/header.ejs') %>

<div class="container mt-5" style="padding: 3%">
  <h2 class="text-center mb-5">Add New Discount</h2>
  <form action="/discount/createDiscount" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" required />
    </div>
    <div class="mb-3">
      <label for="percent" class="form-label">Percent</label>
      <input type="text" class="form-control" id="percent" name="percent" required />
    </div>
    <div class="mb-3">
      <label for="type" class="form-label">Type</label>
      <input type="text" class="form-control" id="type" name="type" required />
    </div>
    <div class="mb-3">
      <label for="cinema" class="form-label">Cinema</label>
      
      <select class="form-control" id="cinema" name="cinema" multiple required>
      
      </select>
    </div>
    <div class="mb-3">
      <label for="dayStart" class="form-label">Start Date</label>
      <input type="date" class="form-control" id="dayStart" name="dayStart" required />
    </div>
    <div class="mb-3">
      <label for="dayEnd" class="form-label">End Date</label>
      <input type="date" class="form-control" id="dayEnd" name="dayEnd" required />
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input type="file" class="form-control" id="image" name="image" required />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    fetch('/discount/cinemaList')
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        if (data.success) {
         
          const cinemaSelect = document.getElementById('cinema'); 
          data.getAll.forEach(cinema => {
            const option = document.createElement('option');
            option.value = cinema._id;
            option.textContent = cinema.name;
            cinemaSelect.appendChild(option);
          });
        } else {
          console.error('Error fetching cinema data:', data.error);
        }
      })
      .catch(error => {
        console.error('Error fetching cinema data:', error);
      });
  });
  
</script>
