<%- include("../partials/header.ejs") %>
<div class="container mt-5 p-5">
  <h2 class="text-center">Thêm Phim Mới</h2>
  <form id="addMovieForm" class="mt-4">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="name" class="form-label">Tên phim</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="duration" class="form-label">Thời lượng</label>
        <input
          type="text"
          class="form-control"
          id="duration"
          name="duration"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="censorship" class="form-label">Độ tuổi</label>
        <input
          type="text"
          class="form-control"
          id="censorship"
          name="censorship"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="rate" class="form-label">Đánh giá</label>
        <input
          type="text"
          class="form-control"
          id="rate"
          name="rate"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="language" class="form-label">Ngôn ngữ</label>
        <input
          type="text"
          class="form-control"
          id="language"
          name="language"
          value="Việt Nam"
          readonly
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="subtitle" class="form-label">Subtitle</label>
        <input
          type="text"
          class="form-control"
          id="subtitle"
          name="subtitle"
          value="Vietnamese"
          readonly
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="storyline" class="form-label">Cốt truyện</label>
        <textarea
          name="storyline"
          id="storyline"
          class="form-control"
          rows="4"
        ></textarea>
      </div>
      <div class="col-md-6 mb-3">
        <label for="director" class="form-label">Nhà sản xuất</label>
        <select
          id="director"
          name="director"
          class="form-select"
          multiple
          required
        >
          <option value=""></option>
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label for="genres" class="form-label">Thể Loại</label>
        <select id="genres" name="genres" class="form-select" multiple required>
          <option value=""></option>
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label for="actor" class="form-label">Diễn viên</label>
        <select class="form-select" id="actor" name="actor" multiple required>
          <option value=""></option>
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label for="movie_format" class="form-label">Định dạng phim</label>
        <input
          type="text"
          class="form-control"
          id="movie_format"
          name="movie_format"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="release_date" class="form-label">Ngày phát hành</label>
        <input
          type="date"
          class="form-control"
          id="release_date"
          name="release_date"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="image" class="form-label">Image</label>
        <input
          type="file"
          class="form-control"
          id="image"
          name="image"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="trailer" class="form-label">Trailer</label>
        <input
          type="file"
          class="form-control"
          id="trailer"
          name="trailer"
          required
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary me-3">Thêm phim</button>
    <button onclick="window.history.back()" class="btn btn-secondary">
      Quay lại
    </button>
  </form>
</div>

<script>
  $(document).ready(function () {
    let token = "";
    // Get Token
    $.ajax({
      url: "/token/getToken",
      type: "GET",
      async: false, // đồng bộ
      success: function (data) {
        token = data.token;
      },
      error: function (error) {
        console.log(error);
      },
    });

    // Get Actor ( Diễn viên )
    $.ajax({
      url: "http://139.180.132.97:3000/actors",
      type: "GET",
      headers: {
        Authorization: `Bearer ${token}`,
      },
      success: function (data) {
        $("#actor").empty();
        $("#actor")
          .append("<option>")
          .text("Chọn diễn viên...")
          .attr("selected", "selected");

        for (let i = 0; i < data.getAll.length; i++) {
          const option = $("<option>")
            .val(data.getAll[i]._id)
            .text(data.getAll[i].name);
          $("#actor").append(option);
        }
      },
      error: function (error) {
        console.log(error);
      },
    });

    // Get Genres ( Thể loại )
    $.ajax({
      url: "http://139.180.132.97:3000/genres",
      type: "GET",
      headers: {
        Authorization: `Bearer ${token}`,
      },
      success: function (data) {
        $("#genres").empty();
        $("#genres")
          .append("<option>")
          .text("Chọn diễn viên...")
          .attr("selected", "selected");

        for (let i = 0; i < data.length; i++) {
          const option = $("<option>").val(data[i]._id).text(data[i].name);
          $("#genres").append(option);
        }
      },
      error: function (error) {
        console.log(error);
      },
    });

    // Get director ( Nhà sản xuất )
    $.ajax({
      url: "http://139.180.132.97:3000/directors",
      type: "GET",
      headers: {
        Authorization: `Bearer ${token}`,
      },
      success: function (data) {
        $("#director").empty();
        $("#director")
          .append("<option>")
          .text("Chọn nhà sản xuất...")
          .attr("selected", "selected");

        for (let i = 0; i < data.length; i++) {
          const option = $("<option>").val(data[i]._id).text(data[i].name);
          $("#director").append(option);
        }
      },
      error: function (error) {
        console.log(error);
      },
    });

    $("#addMovieForm").submit(function (event) {
      event.preventDefault();

      const nameForm = $("#name").val();
      const durationForm = $("#duration").val();
      const directorForm = $("#director").val();
      const genreForm = $("#genres").val();
      const subtitleForm = $("#subtitle").val();
      const censorshipForm = $("#censorship").val();
      const actorForm = $("#actor").val();
      const rateForm = $("#rate").val();
      const storylineForm = $("#storyline").val();
      const movie_formatForm = $("#movie_format").val();
      const release_dateForm = $("#release_date").val();
      const newDate = formatDate(release_dateForm);
      const languageForm = $("#language").val();
      const imageFile = $("#image")[0].files[0];
      const trailerFile = $("#trailer")[0].files[0];

      const formData = new FormData();
      formData.append("name", nameForm);
      formData.append("duration", durationForm);
      formData.append("language", languageForm);
      formData.append("subtitle", subtitleForm);
      formData.append("censorship", censorshipForm);
      formData.append("rate", rateForm);
      formData.append("storyline", storylineForm);
      formData.append("movie_format", movie_formatForm);
      formData.append("release_date", newDate);
      formData.append("image", imageFile);
      formData.append("trailer", trailerFile);

      for (let i = 0; i < genreForm.length; i++) {
        formData.append(`genre[${i}]`, genreForm[i]);
      }
      for (let i = 0; i < directorForm.length; i++) {
        formData.append(`director[${i}]`, directorForm[i]);
      }
      for (let i = 0; i < actorForm.length; i++) {
        formData.append(`actor[${i}]`, actorForm[i]);
      }

      function formatDate(date) {
        const d = new Date(date);
        const year = d.getFullYear();
        const month = String(d.getMonth() + 1).padStart(2, "0");
        const day = String(d.getDate()).padStart(2, "0");
        return `${year}-${month}-${day}`;
      }

      $.ajax({
        url: "http://139.180.132.97:3000/movies",
        type: "POST",
        headers: {
          Authorization: `Bearer ${token}`,
        },
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
          console.log(response);
          alert("Thêm phim thành công!");
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.log("Lỗi: " + jqXHR.responseJSON.message);
          alert("Thêm phim thất bại!");
        },
      });
    });
  });
</script>
