<%- include("../partials/header.ejs") %>
<div class="container mt-5 p-5">
  <h2 class="text-center">Thêm Phim Mới</h2>
  <form id="addMovieForm" class="mt-4">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="name" class="form-label">Tên phim</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          value="Thor: Tình yêu và sấm sét"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="duration" class="form-label">Thời lượng</label>
        <input
          type="text"
          class="form-control"
          id="duration"
          name="duration"
          value="1 giờ 58 phút"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="actor" class="form-label">Diễn viên</label>
        <select class="form-select" id="actor" name="actor" multiple>
          <option value="666dcdf52262470e147ad070">Chris Hemsworth</option>
          <option value="666dce022262470e147ad073">Christian Bale</option>
          <option value="668e8c681c6554246d5342e0">Natalie Portman</option>
          <!-- Thêm các lựa chọn khác nếu cần -->
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label for="genres" class="form-label">Thể Loại</label>
        <select id="genres" name="genres" class="form-select" multiple>
          <option value="66729b01d5a16c913b7ec49b">Action</option>
          <option value="66729b14d5a16c913b7ec49e">Comedy</option>
          <option value="66939184080aa5204d6b7a72">Drama</option>
          <option value="66939d7a080aa5204d6b7c83">Horror</option>
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label for="language" class="form-label">Ngôn ngữ</label>
        <input
          type="text"
          class="form-control"
          id="language"
          name="language"
          value="Việt Nam"
          readonly
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="subtitle" class="form-label">Subtitle</label>
        <input
          type="text"
          class="form-control"
          id="subtitle"
          name="subtitle"
          value="Vietnamese"
          readonly
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="censorship" class="form-label">Độ tuổi</label>
        <input
          type="text"
          class="form-control"
          id="censorship"
          name="censorship"
          value="18"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="director" class="form-label">Nhà sản xuất</label>
        <select id="director" name="director" class="form-select" multiple>
          <option value="668e87941c6554246d534215">NSX1</option>
          <option value="666dcf4a2262470e147ad087">NSX2</option>
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label for="rate" class="form-label">Đánh giá</label>
        <input
          type="text"
          class="form-control"
          id="rate"
          name="rate"
          value="5"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="storyline" class="form-label">Cốt truyện</label>
        <textarea name="storyline" id="storyline" class="form-control" rows="3">
Năm 965, Odin (Anthony Hopkins), vị vua xứ Asgard, phát động chiến tranh chống bọn người khổng lồ băng (Frost Giants) xứ Jotunheim do Laufey (Colm Feore) cầm đầu, để ngăn chặn việc chúng đô hộ Chín Vương Quốc (Nine Realms), bắt đầu từ Trái Đất. Lực lượng Asgard đã đánh bại lũ khổng lồ và tịch thu nguồn năng lượng của chúng là Chiếc tráp mùa đông vĩnh cửu (Casket of Ancient Winters), mặc dù Odin mất mắt phải trong trận đánh cuối cùng ở Jotunheim.</textarea
        >
      </div>
      <div class="col-md-6 mb-3">
        <label for="movie_format" class="form-label">Định dạng phim</label>
        <input
          type="text"
          class="form-control"
          id="movie_format"
          name="movie_format"
          value="3D"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="release_date" class="form-label">Ngày phát hành</label>
        <input
          type="date"
          class="form-control"
          id="release_date"
          name="release_date"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="image" class="form-label">Image</label>
        <input type="file" class="form-control" id="image" name="image" />
      </div>
      <div class="col-md-6 mb-3">
        <label for="trailer" class="form-label">Trailer</label>
        <input type="file" class="form-control" id="trailer" name="trailer" />
      </div>
    </div>
    <button type="submit" class="btn btn-primary me-3">Thêm phim</button>
    <a href="/" class="btn btn-secondary">Quay lại</a>
  </form>
</div>

<script>
  $(document).ready(function () {
    let token = "";
    $("#addMovieForm").submit(function (event) {
      event.preventDefault();

      const nameForm = $("#name").val();
      const durationForm = $("#duration").val();
      const directorForm = $("#director").val();
      const genreForm = $("#genres").val();
      const subtitleForm = $("#subtitle").val();
      const censorshipForm = $("#censorship").val();
      const actorForm = $("#actor").val();
      const rateForm = $("#rate").val();
      const storylineForm = $("#storyline").val();
      const movie_formatForm = $("#movie_format").val();
      const release_dateForm = $("#release_date").val();
      const newDate = formatDate(release_dateForm);
      const languageForm = $("#language").val();
      const imageFile = $("#image")[0].files[0];
      const trailerFile = $("#trailer")[0].files[0];

      const formData = new FormData();
      formData.append("name", nameForm);
      formData.append("duration", durationForm);
      formData.append("language", languageForm);
      formData.append("subtitle", subtitleForm);
      formData.append("censorship", censorshipForm);
      formData.append("rate", rateForm);
      formData.append("storyline", storylineForm);
      formData.append("movie_format", movie_formatForm);
      formData.append("release_date", newDate);
      formData.append("image", imageFile);
      formData.append("trailer", trailerFile);

      for (let i = 0; i < genreForm.length; i++) {
        formData.append(`genre[${i}]`, genreForm[i]);
      }
      for (let i = 0; i < directorForm.length; i++) {
        formData.append(`director[${i}]`, directorForm[i]);
      }
      for (let i = 0; i < actorForm.length; i++) {
        formData.append(`actor[${i}]`, actorForm[i]);
      }

      function formatDate(date) {
        const d = new Date(date);
        const year = d.getFullYear();
        const month = String(d.getMonth() + 1).padStart(2, "0");
        const day = String(d.getDate()).padStart(2, "0");
        return `${year}-${month}-${day}`;
      }

      $.ajax({
        url: "/dashboard/getToken",
        type: "GET",
        async: false, // đồng bộ
        success: function (data) {
          token = data.token;
        },
        error: function (error) {
          console.log(error);
        },
      });

      $.ajax({
        url: "http://139.180.132.97:3000/movies",
        type: "POST",
        headers: {
          Authorization: `Bearer ${token}`,
        },
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
          console.log(response);
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.log("Lỗi: " + jqXHR.responseJSON.message);
        },
      });
    });
  });
</script>
