<%- include('../../partials/header.ejs') %>
<div class="container-fluid mt-5 p-3">
  <div class="row mb-4 mt-5">
    <div class="col-12 mt-5">
      <button onclick="window.history.back()" class="btn btn-secondary">
        Quay lại
      </button>
    </div>
  </div>
  <div class="row">
    <!-- Thông tin đơn hàng -->
    <div class="col-md-4">
      <h4 class="border-bottom pb-4">Thông tin đơn hàng</h4>
      <p class="d-flex mt-3">
        <strong>Mã đơn hàng:</strong>
        <a class="ms-2 nav-link text-primary" href="">96175515</a>
      </p>
      <p class="d-flex">
        <strong>Phim:</strong>
        <a class="ms-2 nav-link text-primary" href="#">Monkey Man Báo Thù</a>
      </p>
      <p>
        <strong>Giờ chiếu:</strong>
        <span class="badge bg-warning text-dark">20:25 - 22:20</span>
      </p>
      <p><strong>Ngày chiếu:</strong> 06-05-2024</p>
      <p><strong>Phòng chiếu:</strong> IMAX</p>
      <p class="d-flex">
        <strong>Rạp chiếu:</strong>
        <a class="ms-2 nav-link text-primary" href="#">HCinema Aeon Hà Đông</a>
      </p>
      <p><strong>Ngày đặt:</strong> 06-05-2024</p>
    </div>

    <!-- Thông tin khách hàng -->
    <div class="col-md-4">
      <h4 class="border-bottom pb-4">Thông tin khách hàng</h4>
      <p class="d-flex mt-3">
        <strong>Khách hàng:</strong>
        <a class="ms-2 nav-link text-primary" href="#">Hiền Super</a>
      </p>
      <p><strong>Điện thoại:</strong> 0344005816</p>
      <p><strong>Email:</strong> hien@gmail.com</p>
      <p>
        <strong>Trạng thái:</strong>
        <span class="badge bg-success p-2">Đã xác nhận</span>
      </p>
      <p><strong>Thành tiền:</strong> 1,066,000</p>
      <p><strong>Giảm giá:</strong> 0</p>
      <p><strong>Tổng tiền:</strong> 1,066,000</p>
    </div>

    <!-- Ghế & Dịch vụ -->
    <div class="col-md-4">
      <h4 class="border-bottom pb-4">Ghế & Dịch vụ</h4>
      <table class="table mt-3">
        <thead class="table table-secondary">
          <tr>
            <th>Thông tin ghế</th>
            <th>Loại ghế</th>
            <th>Giá tiền</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>A1</td>
            <td><span class="badge bg-secondary p-2">Ghế thường</span></td>
            <td>100,000</td>
          </tr>
          <tr>
            <td>C2</td>
            <td><span class="badge bg-secondary p-2">Ghế thường</span></td>
            <td>100,000</td>
          </tr>
          <tr>
            <td>C3</td>
            <td><span class="badge bg-secondary p-2">Ghế thường</span></td>
            <td>100,000</td>
          </tr>
          <tr>
            <td>C4</td>
            <td><span class="badge bg-secondary p-2">Ghế thường</span></td>
            <td>100,000</td>
          </tr>
          <tr>
            <td>D4</td>
            <td><span class="badge bg-secondary p-2">Ghế thường</span></td>
            <td>100,000</td>
          </tr>
        </tbody>
      </table>
      <table class="table mt-5">
        <thead class="table table-secondary">
          <tr>
            <th>Tên dịch vụ</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Tổng tiền</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a class="nav-link text-primary" href="#">HCINEMA COMBO</a></td>
            <td>1</td>
            <td>113,000</td>
            <td>113,000</td>
          </tr>
          <tr>
            <td><a class="nav-link text-primary" href="#">MY COMBO</a></td>
            <td>1</td>
            <td>87,000</td>
            <td>87,000</td>
          </tr>
          <tr>
            <td>
              <a class="nav-link text-primary" href="#">LADIES LOVE SET</a>
            </td>
            <td>2</td>
            <td>183,000</td>
            <td>366,000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
